* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  .hero {
    margin-bottom: 12rem;
    margin-top: 5rem;
  }
  .hero img {
    display: block;
    width: 45rem;
    margin: auto;
  }
  .hero-heading {
    padding: 3rem 0rem;
    font-size: 5rem;
    text-align: center;
  }
  .hero:hover .hero-heading span {
    color: #6c63ff;
  }
  
  /* cards */
  .bound {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 7rem;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card-list-item {
    display: flex;
    padding: 2rem 1.5rem;
    width: 30%;
    /* flex: 1 1 30%; */
    margin: auto;
  }
  .card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.2s;
  }
  .card:hover {
    box-shadow: 1px 4px 10px 0px rgb(0 0 0 / 20%);
    transition-timing-function: cubic-bezier(0.49, 0.08, 0.54, 1.42);
    transform: scale(1.05);
  }
  
  .card img {
    height: 175px;
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
  }
  .card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 1rem;
    min-height: 4ch;
  }
  .card p {
    line-height: 1.2;
    font-size: 1.7rem;
    text-align: center;
    color: gray;
    padding: 0.5rem 1.7rem;
    height: 120px;
    overflow: auto;
  }
  .btn-secondary {
    font-size: 2.3rem;
    font-weight: 500;
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #6c63ff;
    border: 3px solid #6c63ff;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.49, 0.08, 0.54, 1.42);
  }
  .card a:hover {
    border: 3px solid #6c63ff;
    background-color: #6c63ff;
    color: white;
  }
  
  /* @media(max-width: 56rem) {
    .card {
      width: 33.3333%;
    }
  } */
  @media (max-width: 50rem) {
    .card-list-item {
      width: 50%;
      margin: auto;
    }
  }
  @media (max-width: 600px) {
    .card-list-item {
      width: 90%;
      margin: auto;
    }
  }
  