/* .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* #6c63ff */

.btn-secondary {
    font-size: 1.7rem;
    font-weight: 400;
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #4285F4;
    border: 2.7px solid #4285F4;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.49, 0.08, 0.54, 1.42);
  }
  .heading a:hover {
    border: 3px solid #4285F4;
    background-color: #4285F4;
    color: white;
  }