@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fruktur&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fruktur&family=Roboto:wght@700&family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

.btn-primary {
  font-size: 1.7rem;
  font-weight: 400;
  margin: auto;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #4285f4;
  border: 2.7px solid #4285f4;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.49, 0.08, 0.54, 1.42);
}

/* Header Styles */
.heading h1 {
  /* max-width: 35rem; */
  width: fit-content;
  font-size: 3rem;
  padding: 0.5rem 2.5rem;
  margin: auto;
  font-family: "Bungee Shade", cursive;
  text-transform: uppercase;
  color: #4285f4;
  background-color: rgb(255, 255, 255);
  /* background-image: linear-gradient(47deg, #4285f4, whitesmoke, #4285f4); */
  text-align: center;
  border-radius: 1rem;
  font-weight: bolder;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 30%);
  transition: 0.2s;
}
.heading h1:hover {
  color: whitesmoke;
  background-color: #4285f4;
  /* background-image: linear-gradient(47deg, #ea4335, #4285f4, #34a853, #fbbc04); */
  box-shadow: 1px 4px 10px 0px rgb(0 0 0 / 50%);
  transition-timing-function: cubic-bezier(0.49, 0.08, 0.54, 1.42);
  transform: scale(1.05);
}

.heading h1:hover .gdsc {
  color: #4285f4;
}
.heading h1:hover .tcoer {
  color: #fbbc04;
}

.heading h3 {
  text-align: center;
  /* font-family: "Train One", cursive; */
  font-weight: 500;
  margin-top: 0.5rem;
}

.heading h5 {
  margin-top: 2rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
}

.presenting:hover {
  color: #fbbc04;
}
.dsc:hover {
  color: #ea4335;
}
.tcoer:hover {
  color: #4285f4;
}
.pune:hover {
  color: #34a853;
}

.aim-item-text {
  text-align: center;
  color: black;
}
.aim-item-btn:hover .aim-item-text:nth-child(1) {
  color: white;
}

.aim-gifs {
  border-radius: 44px;
  max-width: 100%;
  width: 25rem;
  height: 20rem;
}
.aim-text {
  padding: 3rem !important;
}

.react-photo-album--row {
  justify-content: space-around !important;
}

.react-photo-album--row img {
  box-shadow: 1px 1px 10px #0000005e;
  padding: 0.5rem;
  margin: 0px 0.5rem;
}

/* 3d model width */
.model-3d {
  width: 30rem;
}
@media (max-width: 760px) {
  .model-3d {
    width: 80%;
  }
  .react-photo-album--row img {
    box-shadow: 1px 1px 10px #0000005e;
    padding: 0.5rem;
    margin: 0px;
    margin-left: 8px;
  }
  header {
    width: 90%;
    margin: auto;
  }
  .aim-gifs {
    border-radius: 34px;
    max-width: 100%;
    width: 20rem;
    height: 15rem;
  }
  .aim-text {
    padding: 1.3rem !important;
  }
}

/* Section Heading */
.sectionHeading{
  font-size: 2.5rem;
  text-shadow: 2px 2px #e2e8f0;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* New Header */

.hero{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1; */
}