/* Navbar Styles */
.nav-brand {
  padding: 0rem;
  padding-left: 2rem;
  display: flex;
}
.nav-brand img {
  width: 2rem;
  margin: auto;
}
.nav-brand .text {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  justify-content: center;
}
.nav-brand .club {
  font-size: 0.75rem;
  padding-bottom: 0px;
}
.nav-brand .college {
  font-size: 1.1rem;
}
.nav-item {
  margin: 0px 1rem;
  white-space: nowrap;
}
.navbar-nav .active {
  border-bottom: 2px solid #1668fe;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.aim-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.aim-item:hover {
  background: #1668fe;
}

.aim-item * {
  transition: 0.5s;
}

.aim-item:hover * {
  color: #f1f8ff;
}

.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  height: calc(100% - 38px);
  transition: 0.5s;
}

.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}
.test {
  display: flex;
  justify-content: space-between;
}
.team-item:hover {
  height: 100%;
}

.team-item .btn {
  border-radius: 38px 38px 0 0;
}

.teams-nav a {
  color: #7db1ff;
  font-size: 1.3rem;
}

.teams-nav .active {
  color: white;
}

.fancy {
  width: 150px;
  height: 150px;
  text-align: center;
  border-top: 5px solid;
  border-image: linear-gradient(
      to right,
      grey 25%,
      yellow 25%,
      yellow 50%,
      red 50%,
      red 75%,
      teal 75%
    )
    5;
}

@media (max-width: 760px) {
  .nav-brand {
    padding-left: 8px;
  }
  .nav-brand img {
    width: 1.3rem;
  }
  .nav-brand .text {
    padding: 0px;
    padding-left: 7px;
  }
  .nav-brand .text .club {
    font-size: 0.6rem;
  }
  .nav-brand .text .college {
    font-size: 0.7rem;
  }
}
