/* @import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fruktur&family=Roboto:wght@700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

html {
  font-size: 68%;
}
body {
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 1.1rem; */
  background-image: url(./temp.jpeg);
  background-repeat: repeat;
  animation: slide 10s linear infinite;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
